@import "tailwindcss";
@import "./font.css";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  /* Breakpoints */
  --screen-xs: 639px;

  /* Font Sizes */
  --text-xxs: clamp(1.25rem, 4vw, 2rem);

  /* Font Families */
  --font-jost: 'Jost', sans-serif;

  /* Animations */
  /* --animation-tape: tape 1.5s linear infinite; */

  /* Colors */
  /* --color-main-300: #6cfbce; */
  /* --color-main-400: #808088; */
  /* --color-main-500: #6083ff; */
  /* --color-main-600: #2c2b39; */
  /* --color-main-700: #10162b; */
  /* --color-main-800: #1f304c; */
  /* --color-main-900: #04050a; */
}


@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  }


  :root {
    font-family: jost, Roboto, sans-serif;
    /* font-weight: 500; */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    @apply text-slate-600 h-full m-0 p-0 min-h-full bg-slate-100;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
  }

  a {
    text-decoration: none;
  }

  p {
    font-size: 15px;
    line-height: normal;
    margin-bottom: 0px;
  }

  svg {
    padding: 0 !important;
    vertical-align: -.125em !important;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}